<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
        <div class="page">
         <div class="navbar">
          <!-- <span class="material-symbols-outlined">
            arrow_back_ios
            </span> -->
            <h2>Attendence</h2>
         </div>
         <div class="below">
            <div class="box">
                 <div class="red">
                    <div class="remark">
                        <h1>Failed!</h1>
                        <h2>Try Sending Again!</h2>
                    </div>
                 </div>
            </div>
            <div class="scan-btn">
                <button id="changeRouteButton">Retry</button>
        
            </div>
         </div>
        </div>
        <script>
         function changeRoute() {
             // Change the URL without reloading the page
             window.location.href = '/home';
 
             // Log the route change to the console
             console.log('Route changed to: ' + window.location.pathname);
         }
 
         const button = document.getElementById('changeRouteButton');
         button.addEventListener('click', changeRoute);
     </script>
  </body>
</html>